
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.pkl


.env
.venv/
venv/
env/

**/I_IR/Exercise sheet 1.md
**/I_IR/mesh_index/
**/I_IR/pmid2contents/
**/I_IR/pubmed_index/
**/I_IR/III_v2.py
**/II_RAG/models/
**/II_RAG/chroma_db/
**/II_RAG/squad_multiple_contexts.json
**/II_RAG/RAG/Exercise sheet 2.md
**/II_RAG/RAG/Exercise sheet 2.pdf

.vscode/settings.json
.idea/
*.swp
*.swo
